<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">

    <a
      class="navbar-brand"
      routerLink="/dashboard"
      (click)="closeNavbar()"
    >
      Skate Eventos
    </a>

    <button
      class="navbar-toggler"
      type="button"
      (click)="toggleNavbar()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="navbar-collapse"
      [class.collapse]="isCollapsed"
      [class.show]="!isCollapsed"
    >

      <ul class="navbar-nav me-auto">

        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/eventos"
            routerLinkActive="active"
            (click)="closeNavbar()"
          >
            Eventos
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/apresentadores"
            routerLinkActive="active"
            (click)="closeNavbar()"
          >
            Apresentadores
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/contatos"
            routerLinkActive="active"
            (click)="closeNavbar()"
          >
            Contatos
          </a>
        </li>
      </ul>

      <ul class="navbar-nav">
      <li ngbDropdown class="nav-item dropdown">

        <button ngbDropdownToggle type="button" class="btn nav-link dropdown-toggle">
          Brenno
        </button>

        <div ngbDropdownMenu class="droppdown-menu dropdown-menu-end"> 

        <button
          ngbDropdownItem
          type="button"
          routerLink="/perfil"
          routerLinkActive="active"
          (click)="closeNavbar()">
          Perfil
        </button>
          
          <div class="dropdown-divider"></div>

          <button ngbDropdownItem type="button" class="dropdown-item">
            Sair
          </button>

        </div>
      </li>
    </ul>

    </div>
  </div>
</nav>
