<div class="registration-page">

  <div class="container">

    <div class="registration-card shadow-lg p-3">

      <div class="row g-0 align-items-center">

        <div class="col-lg-5 d-none d-lg-flex ">
          <div class="registration-hero">
            <div class="skate-icon">
              <i class="fa fa-person-skating"></i>
            </div>

            <h1>Skate Eventos</h1>
            <p>
              Crie agora sua conta para acompanhar eventos, campeonatos,
              pistas e encontros da comunidade skate.
            </p>
          </div>
        </div>

        <div class="col-lg-7">
          <div class="registration-form">

            <h2 class="mb-2">Cadastro de Usuário</h2>
            <p class="subtitle mb-4">Preencha seus dados para criar sua conta.</p>

            <form [formGroup]="form" (ngSubmit)="register()">

              <div class="row">
                <div class="col-md-6 mb-3">
                  <label class="form-label">Primeiro Nome</label>
                  <input
                    type="text"
                    class="form-control"
                    [class.is-invalid]="f.primeiroNome.errors && f.primeiroNome.touched"
                    formControlName="primeiroNome"
                    placeholder="Insira o primeiro nome"
                  />

                  @if(f.primeiroNome.errors && f.primeiroNome.touched) {
            
                  <div class="invalid-feedback" >
                    Primeiro nome deve ser preenchido
                  
                  </div>
                }

                </div>

                <div class="col-md-6 mb-3">
                  <label class="form-label">Último Nome</label>
                  <input
                    type="text"
                    class="form-control"
                    [class.is-invalid]="f.ultimoNome.errors && f.ultimoNome.touched"
                    formControlName="ultimoNome"
                    placeholder="Insira o último nome"
                  />

                  @if(f.ultimoNome.errors && f.ultimoNome.touched) {
            
                  <div class="invalid-feedback">
                    Último nome deve ser preenchido
                    
                  </div>
                }

                </div>
              </div>

              <div class="mb-3">
                <label class="form-label">Email</label>
                <input
                  type="email"
                  class="form-control"
                  [class.is-invalid]="f.email.errors && f.email.touched"
                  formControlName="email"
                  placeholder="Insira seu email"
                />

                @if(f.email.hasError('required') && f.email.touched) {
            
                  <div class="invalid-feedback">
                    Email é obrigatório 
                     
                  </div>
                }

                @if(f.email.hasError('email') && f.email.touched) {
            
                  <div class="invalid-feedback">
                    Email deve ser válido 
                     
                  </div>
                }
                
              </div>

              <div class="mb-3">
                <label class="form-label">Usuário</label>
                <input
                  type="text"
                  class="form-control"
                  [class.is-invalid]="f.userName.errors && f.userName.touched"
                  formControlName="userName"
                  placeholder="Insira o nome de usuário"
                />
                 @if(f.userName.errors && f.userName.touched) {
            
                  <div class="invalid-feedback">
                    Nome de usuário obrigatório 
                    
                  </div>
                }

            </div>

              <div class="row">
                <div class="col-md-6 mb-3">
                  <label class="form-label">Senha</label>
                  <input
                    type="password"
                    class="form-control"
                    [class.is-invalid]="f.password.errors && f.password.touched"
                    formControlName="password"
                    placeholder="Digite uma senha"
                  />

                  @if (f.password.hasError('required') && f.password.touched) {
                      <div class="invalid-feedback d-block">
                        Senha é obrigatório.
                        
                      </div>
                  }

                  @if (f.password.hasError('minlength') && f.password.touched) {
                      <div class="invalid-feedback d-block">
                        Senha deve ter no mínimo 6 caracteres.
                      </div>
                  }

                </div>

                <div class="col-md-6 mb-3">
                  <label class="form-label">Confirmar Senha</label>
                  <input
                    type="password"
                    class="form-control"
                    [class.is-invalid]="f.confirmePassword.errors && f.confirmePassword.touched"
                    formControlName="confirmePassword"
                    placeholder="Confirme a senha"
                  />

                  @if (f.confirmePassword.hasError('required') && f.confirmePassword.touched) {
                      <div class="invalid-feedback d-block">
                      Confirmar a senha é obrigatório
                      </div>
                  }

                   @if(f.confirmePassword.hasError('mustMach') && f.confirmePassword.touched) {
            
                    <div class="invalid-feedback">
                      As senhas devem ser iguais 
                    </div>
                   }
                </div>
              </div>

              <div class="form-check mb-4">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="termosUso"
                />

                <label class="form-check-label" for="termosUso">
                  Eu concordo com os
                  <a href="#">Termos de Uso</a>.
                </label>
              </div>
              
              <button [disabled]="!form.valid" class="btn btn-register w-100 mb-3" type="submit">
                Registrar
              </button>

              <a routerLink="/user/login" class="login-link" routerLink="/user/login">
                Já sou cadastrado
              </a>

            </form>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>